<!DOCTYPE html>
<html>
<head>
  <title><%= Setting.for :party_name %> Guest List</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'google_analytics' %>
</head>
<body>

<%= yield %>

</body>
</html>
